dk>=1.0.2                      # WARNING[dkt]: dk>=1.0.2 is not sepcified in requirements-external.txt
django==1.8.19
future==0.18.1
ttcal>=1.0.2                   # WARNING[dkt]: ttcal>=1.0.2 is not sepcified in requirements-external.txt
py==1.8.0
django-localflavor==1.3
pytest-django==3.10.0

